@mixin box-shadow ($border-color) {
    -webkit-box-shadow: 0px 0px 4px 2px $border-color;
    box-shadow: 0px 0px 4px 2px $border-color;
}

@mixin box ($color) {
    -webkit-box-shadow: 0px 0px 4px 1px variables.$color;
    box-shadow: 0px 0px 4px 1px variables.$color;
}