$primary: #e21235;
$background-white: #fff;
$background-light: #fcf8f9;
$background-dark: #221013;
$text-main: #1b0d10;
$text-muted: #6b5e61;

$title1: 2.4em;
$title2: 1.8em;
$title3: 1.6em;
$text: 1.1em;
$letter-spacing: 1px;

$font-family: Manrope, sans-serif;
$font-bold: bold;
$border-box: border-box;
$border-radius: 0.25rem;