/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 80px;
}  */

/* header img {
  height: 60px;
  object-fit: contain;
} */