@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.products-container {
    width: 100vw;
    box-sizing: variables.$border-box;

    h1 {
        font-size: variables.$title1;
        text-align: center;
        color: variables.$color;
    }

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
    
    .product-article {
        width: 98%;
        margin-bottom: 15px;
    }

    .product-article h2 {
        color: variables.$color;
    }

    .product-article span {
        color: #fff;
    }

    img {
        width: 100%;
    }
}