@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.productDetail-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-sizing: variables.$border-box;

    img {
        width: 96%;
    }

    h1 {
        align-self: flex-start;
        font-size: variables.$title2;
        margin: 2px 0px 0px 5px;
        color: variables.$color;
    }

    h1 + p {
        align-self: flex-start;
        margin: 2px 0px 0px 5px;
        font-weight: variables.$font-bold;
        font-size: 1.1em;
    }

    select {
        width: 95%;
        padding: 2px;
        margin-top: 5px;
    }

    .add-btn {
        width: 94%;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 5px;
        margin-top: 15px;
        letter-spacing: variables.$letter-spacing;
        font-weight: variables.$font-bold;
        font-size: 18px;
        box-shadow: 0px 0px 4px 1px variables.$color;
    }

    .add-btn + p {
        width: 90%;
        margin-top: 15px;
        padding: 5px;
        line-height: 20px;
        text-align: center;
    }
}