@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.search-container {
    width: 100vw;
    box-sizing: border-box;
    margin-top: 20px;

    h1 {
        font-size: variables.$title2;
        text-align: center;
        margin-top: 2px;
        color: variables.$color;
    }

    .product-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        padding-bottom: 15px;
    }
    
    .product-article:not(.product-article:last-child) {
        border-bottom: 1px solid variables.$border-color;
    }

    .product-article h2 {
        width: 100%;
        align-self: flex-start;
        font-size: variables.$title2;
        margin: 2px 5px;
        color: variables.$color;
    }

    h2 + p {
        align-self: flex-start;
        margin: 0px 5px;
        font-weight: variables.$font-bold;
        font-size: 1.1em;
    }

    .description-text {
    width: 90%;
    padding: 5px;
    margin: 0px 5px;
    line-height: 20px;
    text-align: center;
    }

    .description-text + button {
        width: 94%;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 5px;
        margin-top: 5px;
        letter-spacing: variables.$letter-spacing;
        font-weight: variables.$font-bold;
        font-size: 18px;
        box-shadow: 0px 0px 4px 1px variables.$color;
    }
}