@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.header-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background: white;
    box-shadow: 0px 0px 6px 2px #ddd;
    box-sizing: variables.$border-box;

    .logo img {
        width: 60px;
    }
}